.row {
  display: flex;
  width: 150px;
  height: 50px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 1px solid black;
}

.cell.is-playing:hover {
  background-color: green;
}
